* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

/* nav-bar */

#nav-container {
    background-color: rgba(50,45,50);
    font-size: 1.8rem;
}

.links {
    float: right;
}

.item1,.item2,.item3,.item4 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 2rem;
    text-align: center;
    outline: none;
}

.item1 {
    padding-left: 5rem;
}

.item2:hover,.item3:hover,.item4:hover, #nav-container a.item3  {
    background-color: #444;
    color: #f7c08a;
}

/* head */

#head {
    font-size: 1.8rem;
    overflow: hidden;
    background-color: rgba(50,45,50);
    opacity: 0.85;
    color: #fff;
    /* height: 50rem; */
  }
  
  .head-container .head-content {
    float: left;
    width: 50%;
    height: 100%;  
    padding-left: 6.5rem;
  }
  
  #head .head-img {
    float: right;
    width: 50%;
    height: 100%;
  }
  
  .head-img img {
    display: block;
    margin: auto;
    padding: 1rem 1rem;
    width: 70%;
    border-radius: 45%;
  }
  .head-container .head-content h1 {
    padding: 2rem;
    font-size: 4rem;
  }
  
  .head-container .head-content p {
    padding: 2rem;
  /*   margin: 2rem; */
  } 
  


/* section */

#testi {
    clear: both;
    height: 70rem;
    background-image: url("https://images.pexels.com/photos/327472/pexels-photo-327472.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top/contain;
    overflow: hidden;
  }
  
  .container .head {
    text-align: center;
    padding: 10rem 0 5rem 0;
    color: #fff;
    font-size: 3rem;
  }
  
  .container .box h1 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
  }
  
  .container .box p {
    overflow: hidden;
    font-size: 1.8rem;
  }
  
  .container .box {
    background-color: #f7c08a;
    margin: 4rem 8rem;
    padding: 4rem;
    opacity: 0.85;
  }
.container .box:hover {
  background-color: rgba(50,45,50);
  opacity: 0.85;
  color: white;
  } 
    
  .container .box img {
    float: left;
    width: 10%;
    display: block;
    margin-right: 2rem;
    border-radius: 50%;
  }
  

/* footer */

#foot {
    clear: both;
    background-color: rgba(50,45,50);
    height: 14rem;
}

/* .fitem {
    color: black;
    text-decoration: none;
} */

.fa {
    color: #fff;
    text-decoration: none;
    text-align: center;
    float: left;
    width: 25%;
    padding: 2rem;
}

#foot p {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
}

.name {
  color: #f7c08a;
}